<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body class="app sidebar-mini rtl">
    <!-- Navbar-->
    {{> header }}
    <!-- Sidebar menu-->
    {{> sidebar }}  
    {{{body}}}  
   {{> javascript }}
   {{{_sections.script}}}
  </body>
</html>