  <head>
    <meta name="description" content="Sophy is a dating App">

    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Sophy Admin">
    <meta property="og:title" content="Sophy - Admin">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="Sophy Admin">
    <title>{{title}}-Sophy Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>